<%= form_for(@comment) do |f| %>
  <%= render 'shared/error_messages_comments' %>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_field :content , class: 'form-control'%>
  </div>

  <div class="actions">
    <%= f.submit "New Comment" , class: 'btn btn-primary' %>
  </div>
<% end %>

