<% @posts.each do |post| %>
  <%user = User.select(:name).where(id:post['user_id']).first %>
  <div class="card">
      <div class = "card-header">
          <%= link_to(image_tag("img_avatar.jpg" , :width => 50, :height => 50)) %>
          <span class = "user_name">
            <b><%= user['name'] %> </b>
          </span>

          <span class = "post_time">
            posted <i><%= time_ago_in_words(post['created_at'])%> ago.</i>
          </span>  
      </div> 

      <div class="card-block"> 
        <h4 class="card-title"><b>Ruby is not good </b> </h4>
        <p class="card-text">
          <%= post['content'] %>
        </p>
      </div>
      
      <div class = "list-group-item">
        <div class="card-container">
              <!-- Trigger the modal with a button -->
              <button type="button" class="btn btn-info btn-sm btn-pink" data-toggle="modal" data-target="#myLikes"><span class="glyphicon glyphicon-thumbs-up"></span>Likes</button>
              <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Comments</button>
              <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myShares">Share</button>

              <!-- Modal -->
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog modal-lr">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Comments</h4>
                    </div>
                    <div class="modal-body">
                      <ul class = "none">
                        <% comments = Comment.select(:id,:content,:user_id,:created_at).where(post_id: post['id']).order(created_at: :desc)
                         %>
                        <% comments.each do |comment| %>
                            <% user_name = User.select(:name).where(id: comment['user_id']).first %>
                            <li> <%= user_name['name']%> <%=comment['content'] %>
                            </li>
                        <% end %>
                      </ul>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>

      <div class="card-block"> 
       <%= form_for(@comment) do |f| %>
          <%= render 'shared/error_messages_comments' %>
         <div class="field">
            <%= f.label :content %>
            <%= f.text_field :content , class: 'form-control'%>
            <%= f.hidden_field :post_id, :value => post['id'].to_i %>
        </div>
        <div class="actions">
          <%= f.submit "New Comment" , class: 'btn btn-primary' %>
        </div>
      <% end %>
      </div>
  </div>
<%end%>