<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
<h1>Requests</h1>
    <% @requests.each do |request| %>
    <ul>
     <li>
     <% group =  Group.select(:id,:name).where(id: request['group_id'].to_i).first %>
     <% user =  User.select(:id,:name).where(id: request['sender_id'].to_i).first %>
      <div class="actions">
        <%= form_for(:request_respond,url: request_respond_path) do |f| %>
          Request for group <%= group['name'] %>
          from user <%= user['name'] %>
          <%= f.hidden_field :request_id, :value => request['id'].to_i%>
          <%= f.hidden_field :group_id, :value => group['id'].to_i%>
          <%= f.hidden_field :sender_id, :value => user['id'].to_i%>
          <div class = "sub-btn">
            <%= f.submit "Yes", class: "btn btn-primary" %>
          </div>
          <div class = "sub-btn">
            <%= f.submit "No", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </li>
  </ul>
    <% end %>
  </div>
  </div>